:root {
  --c1: rgb(255, 166, 0);
  --c2: #ff267a;
  --c3: #ffa634;

  --c4: #f9f9f9;
  --c5: #181818;
  --c6: #ababa8;
  --c7: #181818;
  --c8: #121214;
  --c9: #fdfdfd;
  --c10: rgb(94, 54, 187);
  --c11: rgb(0, 132, 255);
}

.botao-amarelo {
  background: linear-gradient(-45deg, var(--c10), var(--c11));
  color: var(--c9);
  padding: 13px 100px;
  border-radius: 4px;

  font-size: 1.375rem;
  font-weight: 600;
  text-align: center;
}

.botao-dark {
  background: var(--c7);
  color: var(--c4);
  font-weight: 300;
  width: inherit;
  padding: 12px 40px;
  font-size: 1.125rem;
}

.tag {
  background: var(--c7);
  color: var(--c1);
  border-radius: 0px 8px;
  padding: 4px 8px;
  font-size: 0.875rem;
  text-align: center;
}

.titulo {
  font-weight: 600;
  color: var(--c4);
  font-size: 3.5rem;
}

@media (max-width: 500px) {
  .titulo {
    font-size: 2.5rem !important;
  }

  .botao-amarelo {
    font-size: 1rem;
    padding: 13px 50px;
  }
}

@media (max-width: 312px) {
  .titulo {
    font-size: 2.2rem !important;
  }

  .container {
    padding: 1rem !important;
  }
}

.titulo-2 {
  color: var(--c4);
  font-size: 1.5625rem;
  font-weight: 500;
}

.titulo-3 {
  color: var(--c4);
  font-size: 1.5rem;
  font-weight: 500;
}

.container {
  padding: 2rem;
}
