
.filmes-grid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 50px 5px;
}

.info-filme{
  display: flex;
  gap: 15px;
  align-items: baseline;
}

.poster {
  object-fit: cover;
  width: 300px;
  height: 455px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.populares h2 {
  position: relative;
  margin-bottom: 30px;
}

.populares h2::after {
  margin-top: 15px;
  content: "";
  display: block;
  height: 2px;
  width: 61px;
  background: var(--c11);
}

@media(max-width: 1200px){
  .filmes-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
}

@media(max-width: 800px) {
  .poster {
    width: 150px;
    height: 200px;
  }

  .filmes-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr) !important;
  }

  .estrelas-catalogo {
    display: none !important;
  }
}

@media (max-width: 500px) {
  .filmes-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

.estrelas-catalogo {
  display: flex;
  gap: 5px;
  margin: 15px 0;
}
